body {
    background-color: rgb(128, 77, 62);
    margin: 0;
    padding: 0;
}

.a {
    color: rgb(211, 190, 162);
    font-family: fantasy;
    font-size: 500%;
    text-align: center;
    padding-top: 5%;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hearts img {
    width: 35%;
    height: auto;
}

#dbrown {
    position: fixed;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#mbrown {
    position: fixed;
    top: 45%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#wbrown {
    position: fixed;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
}

@property --percentage {
    initial-value: 0%;
    inherits: false;
    syntax: "<percentage>";
}

@keyframes timer {
    to {
        --percentage: 100%;
    }
}

.example .flipdown {
    padding-top: 25%;
    margin: auto;
    position: fixed;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
